@using System.Configuration

<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>



    @Styles.Render("~/Content/css")

    <base href="@ConfigurationManager.AppSettings["BaseUrlPath"].ToString()" />

</head>
<body>



    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Home", null, new { target = "_self" })</li>
            <li>@Html.ActionLink("About", "About", "Home", null, new { target = "_self" })</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home", null, new { target = "_self" })</li>
            <li>@Html.ActionLink("Quotes", "Quotes", "Home", null, new { target = "_self" })</li>
        </ul>

        <!-- angular links -->
        <ul class="nav navbar-nav navbar-right">
            <li><a href="angular/pius-home">PIUS Home</a></li>
            <li><a href="angular/index">Angular Index</a></li>
            <li><a href="angular/another-page">Another Page</a></li>
            <li><a href="angular/component-radio">Component Radio</a></li>
            <li><a href="angular/abcd">Invalid Link</a></li>
        </ul>
    </div>

    @RenderBody()


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular-project")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
